langchain
python-dotenv
langchain-community
bs4
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
langchain-chroma
beautifulsoup4
streamlit
langchain_groq
langchain_core
pydantic
validators
tavily-python
xformers
